.header {
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 16px 32px;
    border-bottom: 1px solid beige;
  }
  .Cart {
    .button {
      border: none;
      padding: 0;

      img {
        transition: .2s;
      }

      &:hover {
        border-radius: 50%;
        background-color: transparent;
        opacity: .85;
      }
    }
  }
}