.App {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
}

//main
.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;

  &__container > * {
    padding: 16px 32px;
  }
}

//Cards
.cards {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
.Card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  transition: .2s;
  position: relative;

  &:hover {
    box-shadow: 0 4px 12px 0 rgba(32, 32, 32, .25);
  }

  &__image {
    height: 228px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cat {
    font-size: 12px;
    padding: 8px 12px;

    &--link {
      color: gray;
    }
  }

  &__title, &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  &__title {
    -webkit-line-clamp: 2;
    min-height: 36px;
  }
  &__text {
    -webkit-line-clamp: 3;
  }

  &__desc {
    padding: 0 12px 8px 12px;
    flex: 1;

    &--link {
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: #202020;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: bolder;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    padding: 8px 16px 16px;

    &--text {
      font-size: 20px;
      font-weight: bolder;
    }
    &--buy {
      .button {
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: .2s;

        img {
          transition: .2s;
        }

        &:hover {
          border-color: transparent;
          background-color: #3389f1;

          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
  &__more {
    padding: 8px 16px 16px;
  }
}

.change-photo-action {
  position: absolute;
  top: 8px;
  right: 0;

  button {
    background-color: #fff;
    color: #010118;
    padding: 4px;
    border-radius: 4px 0 0 4px;

    &:hover {
      opacity: .75;
    }
  }
}

.content {
  flex: 1;

  &__subtitle {
    margin-bottom: 16px;
  }
}
